.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);

  transform: translateY(-100%);

  opacity: 0;

  transition: opacity 0.2s 0.3s;

  &.visible {
    transform: none;
    opacity: 1;
  }
}